body {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(136, 0, 255, 0.5)),
                url('path/to/your/image.jpg');
    font-family: Arial, sans-serif;
    color: #1556976d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 2em;
    text-align: center;
}